<div class="option-container d-flex">
    <div class="option-box col-3">
        <span class="option-label">Keywords</span>
        <div class="form-group search-symbol">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" [(ngModel)]="questionServices.searchText" class="form-control" placeholder="Search" (keyup)="onSearchText()">
        </div>
    </div>

    <div class="option-box col-2">
        <span class="option-label">Category</span>
        <div class="form-group">
            <select class="form-control option-select" (change)="onChangeCategory()" [(ngModel)]="questionServices.selectedCategory">
                <option [ngValue]="0" [selected]="questionServices.selectedCategory==0">All</option>
                <option *ngFor="let category of categories" [ngValue]="category.id" [selected]="questionServices.selectedCategory==category.id">{{category.name}}</option>
            </select>
        </div>
    </div>

    <div class="option-box col-2">
        <span class="option-label">Show</span>
        <div class="form-group">
            <select class="form-control option-select" (change)="onChangeShow()" [(ngModel)]="questionServices.selectedShowOption">
                <option *ngFor="let show of showOptions" [ngValue]="show.value" [selected]="questionServices.selectedShowOption==show.value">{{show.key}}</option>
            </select>
        </div>

    </div>

    <div class="option-box col-2">
        <span class="option-label">Sort By</span>
        <div class="form-group">
            <select class="form-control option-select" (change)="onChangeSortBy()" [(ngModel)]="questionServices.selectedSortByOption">
                <option *ngFor="let sort of sortByOptions" [ngValue]="sort.value" [selected]="questionServices.selectedSortByOption==sort.value">{{sort.key}}</option>
            </select>
        </div>
    </div>

    <div class="reset-btn mr-4 pr-3" (click)="onReset()">
        <span class="fa fa-rotate-right rotate-icon"> </span>
        <span> Reset</span>
    </div>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button> -->

    <div class="add-btn ml-3">
        <button type="button" class="btn btn-purple" data-toggle="modal" data-backdrop="static" data-target="#addQuestionModal"> + Question </button>
    </div>

    <div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestion" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content border-0">
                <div class="modal-header bg-dark-grey">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Add Question</h5>
                    <button type="button" class="close text-white" (click)="onDismiss()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-capitalize">
                    <form (ngSubmit)="onSubmit()" [formGroup]="questionForm">
                        <div class="form-group category-name ">
                            <label for="name ">question</label>
                            <input type="text" class="form-control " id="title" placeholder="Enter your Question " formControlName="title">
                            <span class="span-error" *ngIf="questionForm.get('title').errors?.required && (questionForm.get('title').touched || questionForm.get('title').dirty) ">
                                Question is required
                            </span>
                        </div>
                        <div class="form-group description">
                            <label for="description">description</label>
                            <div class="border">
                                <quill-editor id="description" class="" [modules]="config" placeholder="Enter your text here" formControlName="description"></quill-editor>
                                <div class="toolbar border-0">
                                    <select class="ql-size border-right">
                                        <option value="small"></option>
                                        <option value="large"></option>
                                        <option value="huge"></option>
                                    </select>
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline border-right pr-2 mr-2"></button>
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list border-right pr-2 mr-2" value="bullet"></button>
                                    <button class="ql-blockquote"></button>
                                    <button class="ql-link"></button>
                                </div>
                            </div>
                            <span class="span-error" *ngIf="questionForm.get('description').errors?.required && (questionForm.get('description').touched || questionForm.get('description').dirty) ">
                                Description is required
                            </span>
                        </div>
                        <div class="category-dropdown w-25">
                            <label for="category" placeholder="">category</label>
                            <select name="" id="" class="form-control" formControlName="categoryId">
                                <option hidden value="" disabled selected>--Select--</option>
                                <option *ngFor="let category of categories; let i=index" value="{{category.id}}">{{category.name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer border-top-0">
                    <button type="button" class="btn btn-secondary" (click)="onDismiss()" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-purple" [disabled]="questionForm.invalid" (click)="onSubmit()" data-dismiss="modal">Post</button>
                </div>
            </div>
        </div>
    </div>

</div>