<div *ngIf="usersdata" class="m-3 clearfix user-list">
        <div class="card m-2 mr-3 mb-3  float-left shadow-sm profile-card " [routerLink]="['/users',user.id,'all-questions']" *ngFor="let user of usersdata" >
            <div class="card-body p-0 ">
                <div class=" media p-3 mb-1">
                    <img src={{user.profileImage}} class="mr-2 rounded-circle dp" alt="dp">
                    <div class="media-body">
                        <div class="name">{{user.username}}</div>
                        <div class="detail">{{user.designation}}</div>
                        <div class="detail">{{user.role}} , {{user.location}}</div>
                        <div class="popularity"><i class="fa fa-thumbs-up like ml-2 mr-2" aria-hidden="true">  </i>{{user.likes}}<i class="fa fa-thumbs-down dislike ml-4 mr-2" aria-hidden="true">  </i>{{user.dislikes}}</div>
                    </div>
                </div>
                <div class="border-top d-flex">
                    <div class="col-4 p-2 border-left">
                        <div class="value text-center pt-1">{{user.questionsAsked}}</div>
                        <div class="title text-center pb-1">Question Asked</div>
                    </div>
                    <div class="col-4 p-2 border-left">
                        <div class="value text-center  pt-1">{{user.questionsAnswered}}</div>
                        <div class="title text-center pb-1">Question Answered</div>
                    </div>
                    <div class="col-4 p-2 border-left">
                        <div class="value text-center pt-1">{{user.questionsSolved}}</div>
                        <div class="title text-center pb-1">Question Solved</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
         