<div class="card question-detail-container">
    <div class="question-display p-3">
        <div class="d-inline-flex">
            <img src="{{question.profileImage}}" alt="none" class="rounded-circle user-image ">
            <span class="user-name mr-2 ml-1">{{question.askedBy}}</span>
            <span class="small-text grey-text mt-1">{{question.askedOn}}</span>
        </div>
        <div class="float-right">
            <img src="../../../../assets/images/report.png" alt="report" class="report-image mr-1">
            <span class="small-text grey-text">Report this</span>
        </div>
        <div class="question mt-2">
            <p class="question-title">{{question.title}}</p>
            <p class="question-description full-description" [innerHTML]="question.description"></p>
        </div>
    </div>
    <div class="border-top border-bottom pl-3 pr-3 pb-1 pt-1 answers-count">
        Answers ({{question.totalAnswers}})
    </div>
    <ul class="answers-list">
        <li class="p-3" *ngFor='let answer of answers'>
            <div class="d-inline-flex">
                <img src="{{answer.profileImage}}" alt="none" class="rounded-circle user-image ">
                <span class="user-name mr-3 ml-1">{{answer.answeredBy}}</span>
                <span class="small-text grey-text mt-1">{{answer.answeredOn}}</span>
            </div>
            <div class="popularity mt-1 float-right"><i (click)="like(answer)"class="fa fa-thumbs-up ml-2 mr-2 cp" [ngClass]="{'like':answer.status==1}" aria-hidden="true">  </i>{{answer.likes}}<i (click)="dislike(answer)" class="fa fa-thumbs-down ml-2 mr-2 cp" [ngClass]="{'dislike':answer.status==2}" aria-hidden="true">  </i>{{answer.dislikes}}</div>
            <div class="small-text ml-5 mt-1" [ngClass]="{'answer-highlight':answer.id==highlightedAnswer}" [innerHTML]="answer.description">
            </div>
        </li>
    </ul>
   
    <div class="card m-3 p-2">
        <form class="text-capitalize" (ngSubmit) = "onSubmit()" [formGroup] = "answerForm">
            <textarea class="answer-text-box" placeholder="Enter your answer here" formControlName="description"></textarea>
            <div class="send"> 
                <button type="submit" class="send-button float-right m-2"><img src="../../../assets/images/send.svg" alt="send"></button>
            </div>
        </form>
    </div>
</div>