<ul class="list-group">
    <li class="list-group-item question-list-item" *ngFor = 'let question of questions' routerLinkActive ="active-question">
        <div class="d-inline-flex question-list-box">
            <div class="question-info">
                <img src="{{question.profileImage}}" alt="none" class="rounded-circle user-image ">
                <span class="fa fa-angle-up vote-icon cp" (click)="like(question)" [ngClass]="{'status':question.status==1}"></span>
                <span>{{question.upvotes}}</span>
                <span class="fa fa-angle-down vote-icon mt-0 cp" (click)="dislike(question)" [ngClass]="{'status':question.status==2}"></span>
            </div>
            <div class="question-list-box cp" [routerLink]="['/users',question.answeredById,'all-answers',question.id,question.answerId]">
                <div class="question">
                    <p class="question-title">{{question.title}}</p>
                    <p class="question-description mr-3"><span class="font-weight-bold" [innerHTML]="question.description">Answer: </span></p>
                </div>
                <div class="question-additional-info d-inline-flex">
                    <div class="views">
                        <span class="fa fa-eye"></span>
                        <span class="views-count">{{question.totalViews}} Views</span>
                    </div>
                    <div class="card bg-light pl-2 pr-2 answers-total ml-3 mt-1">{{question.totalAnswers}} Answers</div>
                </div>
                <div class="small-text grey-text float-right">{{question.answeredOn}}</div>
            </div>
        </div>
    </li>
