*{
    margin: 0;
    padding: 0;
    font-family: Segoe UI Regular;
}


/* header */

.header-container {
    position: fixed;
    width: 100%;
    background-color: #76618B;
    z-index : 2;
    height: 52px;
}

.keka-logo-container{
    width: 100px;
    height: 52px;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    cursor: pointer;
}

.keka-logo {
    height: 20px;
    width: 58px;
    margin: 16px 22px;
}

.user-options {
    height: 100%;
    float: right;
    display: flex;
    color: white;
    font-size: 12px;
}

.date-text {
    margin: 16px 0;
}

.sun-logo {
    margin: 16px;
    height: 16px;
    width: 16px;
}

.user-profile {
    display: flex;
    margin: 16px 0;
}
.user-profile{
    .user-image {
    background-color: thistle;
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 5px;
    margin: 0 4px;
    }
}

.logout{
    text-decoration: none;
    color: white;
}

/*left navigation bar */
.left-nav {
    width: 100px;
    position: fixed;
    left: 0;
    height: 100%;
    background-color: #3E4249;
    z-index: 1;
}

.nav-bar {
    margin-top: 52px;
    margin-bottom: 0;
    list-style-type: none;
}

.nav-bar li:hover {
    background-color: #505661;
    cursor: pointer;
}

.selected{
    background-color: #505661;
}

.list-box {
   
    padding-top: 16px;
    padding-bottom: 8px;
}

.forum-logo {
    height: 24px;
    width: 22px;
    margin: 0 36px;   
}

.forum-text {
    display: block;
    color: white;
    font-size: 12px;
    margin: 0px 28px;   
}

/* Page container */
.page-container{
    padding-left: 100px;
    padding-top: 52px;
    height:100%;
    width:100%;
    
}

.bgcolor{
    background-color: #f8f8f9;
}

.bg-height{
    min-height: 90vh;
}

/* top nav bar */


.topnav {
    background-color: white;
    height: 42px;
    border-bottom: 1px solid #dee2e6;
}

.topnav li {
    padding: 8px;

}
.topnav li a.active-page {
    color: black;
    font-weight: 600;
}

// .page-navigation .topnav li a.active-page::after {
//     content: " ";
//     border-left: 6px solid transparent;
//     border-right: 6px solid transparent;
//     border-bottom: 6px solid #76618B;
//     position: relative;
//     top: 6px;
//     right: 40%;
// }

.topnav li a {
    color: gray;
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.topnav li a:hover {
    color: black;   
    font-weight: 600;
}


/* home page */

.content-container {
    width:97%;
    padding-right:50px;
}

.option-container {
    height: 102px;
    border-bottom: 1px solid #dee2e6;
    padding: 0;
}



.option-box {
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 24px;
    display: flex;
    flex-direction:column;
    padding: 0;
}

.option-label {
    padding: 4px;
}

.option-input {
    height: 36px;
    font-size: 13px;
}

.option-select {
    padding: 0;
    height: 36px;
    font-size: 13px;
    font-weight: 500;
}


.reset-btn {
    margin-top: 44px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

reset-btn:hover {
    color: black;
}

.rotate-icon {
    display: inline-block;
    font-size: 13px;
    margin: 0 4px;
}

.add-btn {
    margin-top: 32px;
    float: right;
}

.btn-purple {
    background-color: #76618B;
    color: white;
}

.search-symbol .form-control {
    padding-left: 2.375rem;
}
  
.span-error{
    color:red;
    font-size: 12px;
    font-weight:bold ;
}
.search-symbol .form-control-feedback {
    position: absolute;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* default-template */
.default-template {
    border: 1px solid lightgray;
    min-height: 700px;
    color: gray;
    text-align: center;
    padding-top: 300px;
    font-size: 20px;
}

.default-template span {
    font-size: 40px;
}

/* question list */
.list-group :first-child{
    border-top-right-radius: 0%;
}

.list-group :last-child{
    border-bottom-right-radius: 0%;
}

.question-list-item {
    border-right: 3px solid transparent;
}

.question-info {
    width: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.question-list-box{
    width:100%;
}

.question-list-box:focus{
    outline:0;
}

.active-question {
    transition-duration: 0.2s;
    border-right: 3px solid #76618B;
    background-color: rgb(249,248,246);

}

.user-image {
    margin: 0 8px;
    height: 24px;
    width: 24px
}

.vote-icon {
    cursor: pointer;
    color: gray;
    font-size: 20px;
    margin: 12px 12px 0px 12px;
}


.question {
    margin-left: 8px;
}

.question-title {
    font-family: Segoe UI Regular;
    font-size:15px;
    color: #222222;
    font-weight: 500;
    margin-bottom: 4px;
}

.question-description {
    color: gray;
    font-size: 12px;
    min-height: 40px;
    max-height: 50px;
    overflow: hidden;
}

.full-description{
    max-height: fit-content;
}

.question-additional-info {

    margin-left: 8px;
    color: gray;
}

.views-count {
    margin-left: 8px;
    font-size: 10px;
}

.answers-total {
    height: 20px;
    font-size: 11px;
}


.small-text{
    font-size: 12px;
}

.grey-text{
    color: gray;
}

.question-detail-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}

.question-display {
    background-color:rgb(242, 241, 240)
}

.report-text {
    font-size: 12px;
}

.report-image {
    height: 16px;
    width: 16px;
}

.answers-count {
    background-color:rgb(228, 230, 233);
}

.answers-list {
    list-style: none;
}

.answers-list .user-name {
    font-size: 14px;
    margin-top: 2px;
}

.answer-text-box {
    font-size: 13px;
    outline: 0;
    resize: none;
    border: none;   
    width: 100%;
}

.answer-description {
    min-height: 50px;
}

.cp{
    cursor: pointer;
}

.send-button {
    border: none;
    background: transparent;
}

.send-button:focus{
    outline: 0;
}

/* categories page */

.categories-container {
    .display-box {
        background-color: #ffffff;
        border: 1px solid #d4d7dc;
        word-wrap: break-word;
        padding: 20px;
        border-radius: 5px;
        .category-name-number {
            padding-bottom: 15px;
            .category-name {
                font-weight: 700;
                font-size: 15px;
                color: #333;
            }
            .category-number {
                font-weight: 400;
                font-size: 14px;
            }
        }
        .category-description {
            color: #909090;
            font-size: 13px;
            overflow: hidden;
            line-height: 16px;
            margin-bottom: 20px;
            height: 50px;
        }
        .tag-report {
            color: #909090;
            font-size: 13px;
        }
    }
}

/* category details */
.category-detail-container{
    width: 100%;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    height:100%;
    z-index:3;
    padding-top:20px;
    .category-detail {
    border-radius: 4px;
        
        width: 900px;
        margin: 0 auto;
        background-color: white;
        .header{
            background-color: #636b7b;
            color: white;
            padding: 13px 15px;
            font-size: 19px;
            .close img {
                width: 20px;
            }
        }
        .content{
            padding: 15px 15px;
            .description{
                font-size: 14px;
                line-height: 20px;
                .created-by{
                    color:#636b7b;
                }
            }
            .tag{
                padding: 30px 70px ;
                .lt{
                    font-size: 35px;
                }
                .st{
                    font-size: 14px;
                }
            }
        }
    }
}


/* forms */
.add-form-container {
    width: 100%;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    height:100%;
    z-index:3;
    padding-top:20px;
    .add-form {
        width: 700px;
        margin: 0 auto;
        background-color: white;
        .form-header {
            background-color: #636b7b;
            color: white;
            padding: 13px 15px;
            font-size: 19px;
            .close img {
                width: 20px;
            }
        }
        .category-name {
            padding-left: 35px;
            font-size: 13px;
            font-weight: 400;
            
            input {
                width: 450px;
                height: 40px;
                padding-bottom: 10px;
                &::placeholder {
                    font-size: 12px;
                }
            }
        }
        .description {
            padding-left: 35px;
            font-size: 13px;
            font-weight: 400;
            textarea {
                resize: none;
                height: 80px;
                width: 450px;
                background-color: #f8f8f9;
                font-size: 12px;
                &::placeholder {
                    font-size: 12px;
                }
            }
        }
        .category-buttons {
            width: 100%;
            padding: 30px 0 20px 520px;
            .btn-success {
                background-color: #76618b;
                border: none;
                padding: 8px 25px;
                font-size: 13px;
            }
            .btn-secondary {
                border: none;
                padding: 8px 19px;
                font-size: 13px;
            }
        }
    }
    .question-additionals {
        width: 780px;
        .description textarea {
            width: 710px;
            height: 240px;
            background-color: white;
        }
        .category-dropdown {
            padding: 0 510px 0 35px;
            label{
                font-size: 13px;
            }
            select {
                color: gray;
            }
        }
        .category-buttons {
            padding: 30px 0 20px 600px;
        }
    }
}

.bg-dark-grey {
    background-color: #636b7b;
}

/* users list */
.profile-card{
    width: 340px;
    height: 177px;
    cursor: pointer;
}

.profile-card:focus{
    outline:0;
}

.dp{
    width: 50px;
    height: 50px;
}

.name{
    font-size: 16px;
    font-weight: 500;
}
.detail{
    font-size: 12px;
    color: #777777;
}
.like{
    color: #86c06a;
    cursor: pointer;
}
.dislike{
    color: #EF6868;
    cursor: pointer;
}

.status{
    color: blue;
}


.popularity{
    font-size: 13px;
    color: #222222;
}



.title{
    
    font-size: 11px;
    color: #777777;
}

.value{
    font-size: 14px;
}



/* user page */
.profile-pic-alignment{
    position: relative;
    width: 55px;
    top:5px;
}

.user-menu{
    font-size: 14px;
    color: #555555;
    padding-top: 14px;
    padding-bottom: 14px;
    cursor: pointer;
}

.user-menu:hover{
    font-weight: 400;
    color: #000000;
}

.user-menu:focus{
    outline: 0;
}

.clicked{
    font-weight: 400;
    color: #000000;
    border-bottom: 3px solid #76618B;
}

.fntcol {
    color: #76618B;
    font-size: 14px;
    text-shadow: 0.22px 0;
    cursor: pointer;

}

.fntcol:focus{
    outline :0;
}

.status {
    color: blue;
}


/*
    quill editor properties
*/
.ql-container.ql-snow {
    border: none;
    height: 110px;
}

.ql-snow.ql-toolbar button {
    height: 20px;
}


//Resolved Tag
.resolved-tag::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 12px;
    border-left-color: limegreen;
    border-top-color: limegreen;
}

.answer-highlight{
    background-color:yellow;
    width:fit-content;
}




