<div class="p-2">
        <div class="ml-3 mr-3 mt-2 fntcol d-block" [routerLink] = '["/users"]'>
            <i class="fa fa-arrow-left mr-2"></i> Back to Users
        </div>
        <div class="card card-body m-3 d-block p-0" *ngIf="userInfoService.selectedUser">
            <div class="d-flex">
                <div class="media p-3 mr-4">
                    <img src="{{userInfoService.selectedUser.profileImage}}" alt="dp" class="rounded-circle mr-2 profile-pic-alignment">
                    <div class="media-body">
                        <div class="name">{{userInfoService.selectedUser.username}}</div>
                        <div class="detail">{{userInfoService.selectedUser.designation}}</div>
                        <div class="detail">{{userInfoService.selectedUser.role}}, {{userInfoService.selectedUser.location}}</div>
                        <div class="popularity mt-1"><i class="fa fa-thumbs-up like ml-2 mr-2" aria-hidden="true">  </i>{{userInfoService.selectedUser.likes}}<i class="fa fa-thumbs-down dislike ml-4 mr-2" aria-hidden="true">  </i>{{userInfoService.selectedUser.dislikes}}</div>
                    </div>
                </div>
                <div class="popularity d-flex ml-5">
                    <div class="asked mt-3 mb-3 ml-2 mr-2 p-2 bgcolor rounded">
                        <div class="value text-center m-2">{{userInfoService.selectedUser.questionsAsked}}</div>
                        <div class="title text-center">Questions Asked</div>
                    </div>
                    <div class="answered mt-3 mb-3 ml-2 mr-2 p-2 bgcolor rounded">
                        <div class="value text-center m-2">{{userInfoService.selectedUser.questionsAnswered}}</div>
                        <div class="title text-center">Questions Answered</div>
                    </div>
                    <div class="solved mt-3 mb-3 ml-2 mr-2 p-2 bgcolor rounded">
                        <div class="value text-center m-2">{{userInfoService.selectedUser.questionsSolved}}</div>
                        <div class="title text-center">Questions Solved</div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex p-0 border-top">
                <div class="pl-4 pr-4 user-menu" [routerLink]="['/users',userInfoService.selectedUser.id,'all-questions']" routerLinkActive='clicked' [routerLinkActiveOptions]="{exact:
                    false,__change_detection_hack__:userInfoService.selectedUser.id }">
                    All Questions
                </div>
                <div class="pl-4 pr-4 user-menu" [routerLink]="['/users',userInfoService.selectedUser.id,'all-answers']" routerLinkActive='clicked' [routerLinkActiveOptions]="{exact:
                    false,__change_detection_hack__:userInfoService.selectedUser.id }">
                    All Answered
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>